li{
    color:aliceblue;
}

.course-card{
    color:#5F5B5A;
    width: 150px;
    height: 150px;
    border-radius: 3px;
    display: flex;
    flex-direction:column;
    background-color:white;
    padding: 2px; 
    border-color: #5F5B5A;
    border-width: 1px;
    border-style:solid;
    transition:0.7s;
    margin-top: 1em;
    margin-left:0.9em;
    
}
.course-card:hover{
    /* cursor:grab; */
}

a{
    color:cornflowerblue
}

a:hover{

    cursor:grab
}

.active{
    background-color: cornflowerblue;
}

.course-head{
    font-weight: 200;

}

.course{
    height:100%;
    width:100%;
    padding:2px;
}

.no{
    color:white;
    background-color: crimson;
}

.course-button{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* padding: */
}

.active-link>a{
    color:white;
}

.button-container{
    display: flex;
    justify-content: space-evenly;
    padding-top: 16px;
}